a {
    margin: 0px;
    padding: 0px;
  }
  a:hover {
    color: #ff6600;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #060a0f;
  }
  
  p {
    color: #494949;
  }
  

  
  .pad_100 {
    padding: 100px 0px;
  }
  
  .center {
    text-align: center;
    margin: 0px auto;
  }
  
  .main-title {
    font-size: 60px;
    font-weight: bold;
    color: #060a0f;
  }
  
  .centerElements {
    text-align: center;
    margin: 0px auto;
  }
  
  .justify {
    text-align: justify;
  }
  
  .specColor {
    color: #a3dddb;
  }
  
  input,
  select,
  option,
  textarea {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #060a0f;
    margin: 5px 0px;
    opacity: 0.5;
  }
  input:hover, input:focus,
  select:hover,
  select:focus,
  option:hover,
  option:focus,
  textarea:hover,
  textarea:focus {
    opacity: 1;
    color: #060a0f;
  }
  
  textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 250px;
  }
  
  button {
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid red;
    padding: 10px 20px;
    margin: 5px 0px;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 1;
  }
  button:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.9);
    color: black !important;
  }
  
  .black {
    background-color: #060a0f;
    opacity: 1;
    color: white;
  }
  .black:hover {
    background-color: #ff6600;
    border: 1px solid #ff6600;
  }
  
  .servicio-img {
    width: 250px;
    height: 250px;
  }
  
  .rombo, .servicio-img {
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    -o-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  .rombo:hover, .servicio-img:hover {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0% 0%);
            clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0% 0%);
  }
  
  .diamante {
    display: block;
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: 0px auto;
    background: url("../images/MiFoto.png");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 50;
    background-color: #86dbd4;
  }
  
  
  
  #slider {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0% 100%, 0% 0%);
    -o-clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0% 100%, 0% 0%);
    clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0% 100%, 0% 0%);
  }
  
  #slippry {
    position: relative;
  }
  #slippry h1, #slippry h2, #slippry h3, #slippry h4, #slippry h5, #slippry h6, #slippry p, #slippry a, #slippry button {
    position: absolute;
    color: rgba(255, 255, 255, 0.9);
  }
  #slippry p {
    width: 600px;
  }
  #slippry .white_bg {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    padding-left: 10px;
  }
  #slippry .left {
    left: 200px;
  }
  #slippry .right {
    right: 200px;
  }
  #slippry .right_150 {
    right: 150px;
  }
  #slippry .top_100 {
    top: 100px;
  }
  #slippry .top_250 {
    top: 250px;
  }
  #slippry .top_300 {
    top: 300px;
  }
  #slippry .top_375 {
    top: 375px;
  }
  #slippry .top_400 {
    top: 400px;
  }
  #slippry .top_450 {
    top: 450px;
  }
  #slippry .letra_negra {
    color: #060a0f;
  }
  #slippry .alineacionright {
    text-align: right;
  }
  #slippry .omg {
    margin: auto;
  }
  
  .blackButton {
    color: black;
  }
  
  .centrarEl {
    margin: 0 auto;
  }
  
  .specialBox:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }
  .specialBox:hover img {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0% 0%);
            clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0% 0%);
    transform: translateY(-15px);
  }
  
  .marginTop50 {
    margin-top: 0px;
  }
  
  footer {
    margin-top: -60px;
    width: 100%;
    background-color: #060a0f;
    padding: 70px 0px;
    -webkit-clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%);
    -o-clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%);
  }
  footer p {
    margin: 0px;
    padding: 0px;
  }
  footer .white {
    color: rgba(255, 255, 255, 0.4);
  }
  footer ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
  footer ul li {
    padding: 0px;
    margin: 0px;
    color: rgba(255, 255, 255, 0.2);
  }
  footer hr {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.08);
  }
  
  .tumblr {
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 20%;
    cursor: pointer;
    opacity: 0.7;
  }
  .tumblr:hover {
    opacity: 1;
  }
  
  .copy {
    padding: 10px 0px;
    background-color: #070c13;
    text-align: left;
  }
  .copy p, .copy a {
    margin: 0px;
    padding: 0px;
    color: rgba(255, 255, 255, 0.3);
  }
  .copy a {
    opacity: 0.5;
    color: #ff6600;
  }
  .copy a:hover {
    opacity: 1;
    text-decoration: none;
  }
  
  .social-networks {
    margin-top: 5px;
  }
  .social-networks li {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    transform: rotate(0deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    cursor: pointer;
  }
  .social-networks li i {
    font-size: rgba(255, 255, 255, 0.2);
    transform: rotate(0deg) translate(-3px, 3px);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .social-networks li:hover {
    transform: rotate(45deg);
    background-color: white;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .social-networks li:hover i {
    color: #060a0f;
    transform: rotate(-45deg) translate(-3px, 3px);
  }
  
  #noop {
    display: none;
  }
  
  .rText {
    text-align: center;
    padding: center;
    position: center;
  }
  
  header {
    margin: 0;
    padding: 0;
    perspective: 1px;
    width: 100%;
    text-align: center;
    background: url("../images/sunset-5120x2880-clouds-5k-19547.jpg");
    background-size: cover;
    height: 70vh;
    display: table;
  }
  
  .wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
  }
  
  .actionStart {
    stroke: #fff;
    fill: #fff;
    stroke-dasharray: 1800;
    opacity: 10;
    animation: animate 4s cubic-bezier(0, 0.23, 1, 0.1);
  }
  
  .st0 {
    fill: #fff;
    stroke: #ffffff;
    stroke-width: 3;
    stroke-miterlimit: 10;
  }
  
  @keyframes animate {
    0% {
      opacity: 0;
      fill: none;
      stroke-dashoffset: 1800;
    }
    30% {
      opacity: 10;
      fill: none;
      stroke-dashoffset: 1800;
    }
    90% {
      fill: rgba(255, 255, 255, 0);
    }
    100% {
      opacity: 10;
      fill: white;
      stroke-dashoffset: 0;
    }
  }
  nav {
    width: 100%;
    padding: 10px 0px;
    position: fixed;
    border-bottom: 1px solid transparent;
    z-index: 100;
  }
  nav:hover {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 25px 0px;
    border: 1px solid rgba(6, 10, 15, 0.7);
  }
  nav:hover .logo img {
    width: 80%;
  }
  nav:hover ul {
    margin-top: 8px;
  }
  nav:hover ul li a {
    color: rgba(0, 0, 0, 0.6);
  }
  nav:hover ul .link-active a {
    color: black !important;
  }
  nav .logo img {
    width: 100%;
  }
  nav ul {
    margin: 0px;
    margin-top: 12px;
    padding: 0px;
    text-align: right;
  }
  nav ul .link-active a {
    color: white !important;
  }
  nav ul .link-active a:after {
    width: 100%;
    background-color: red;
  }
  nav ul li {
    display: inline-block;
    padding: 0px 10px;
  }
  nav ul a {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
  }
  nav ul a:before {
    content: "";
    position: absolute;
    top: -5px;
    width: 100%;
    background-color: transparent;
    height: 1.5px;
  }
  nav ul a:after {
    content: "";
    position: absolute;
    top: 115%;
    left: 0px;
    width: 0%;
    background-color: red;
    height: 1.5px;
  }
  nav ul a:hover {
    text-decoration: none;
    color: black !important;
  }
  nav ul a:hover:before {
    width: 0%;
    background-color: red;
  }
  nav ul a:hover:after {
    width: 100%;
    background-color: red;
  }
  
  .nav-overlay {
    background-color: white;
    border-bottom: 1px solid rgba(6, 10, 15, 0.1);
    padding: 25px 0px;
  }
  .nav-overlay .logo img {
    width: 80%;
  }
  .nav-overlay ul {
    margin-top: 8px;
  }
  .nav-overlay ul li a {
    color: black !important;
  }


.tSlow, .social-networks li i, .social-networks li, .copy a, .tumblr, .specialBox, nav ul a:after, nav ul a:before, nav ul a, nav ul .link-active a:after, nav ul, nav .logo img, nav, .rombo, .servicio-img, button, input,
select,
option,
textarea, a {
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 1199px) {
    nav {
      padding: 0px 0px;
    }
  }

  @media screen and (max-width: 700px) {
    nav {
      padding: 0px 0px;
    }
    nav:hover {
      padding: 15px 0px;
    }
  }
  @media screen and (max-width: 430px) {
    nav {
      padding: 0px 0px;
    }
  }