.img-car{
    width: 100%;
    height: 60vh;
}
@media only screen and (max-width: 850px) {
    .img-car{
        height: 50vh;
    }
  }



  @media only screen and (max-width: 300px) {
    .img-car{
        height: 30vh;
    }
  }