.tSlow, .social-networks li i, .social-networks li, .copy a, .tumblr, .specialBox, nav ul a:after, nav ul a:before, nav ul a, nav ul .link-active a:after, nav ul, nav .logo img, nav, .rombo, .servicio-img, button, input,
select,
option,
textarea, a {
  transition: all 0.5s ease-in-out;
}
header {
    margin: 0;
    padding: 0;
    perspective: 1px;
    width: 100%;
    text-align: center;
    background: url("../assets/img/1626576371638.jpg");
    background-size: cover;
    height: 70vh;
    display: table;
  }
#slider {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0% 100%, 0% 0%);
    -o-clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0% 100%, 0% 0%);
    clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0% 100%, 0% 0%);
  }
.wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
  }

nav {
    width: 100%;
    padding: 10px 0px;
    position: fixed;
    border-bottom: 1px solid transparent;
    z-index: 100;
  }
  nav:hover {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 25px 0px;
    border: 1px solid rgba(6, 10, 15, 0.7);
  }
  nav:hover .logo img {
    width: 80%;
  }
  nav:hover ul {
    margin-top: 8px;
  }
  nav:hover ul li a {
    color: rgba(0, 0, 0, 0.6);
  }
  nav:hover ul .link-active a {
    color: black !important;
  }
  nav .logo img {
    width: 100%;
  }
  nav ul {
    margin: 0px;
    margin-top: 12px;
    padding: 0px;
    text-align: right;
  }
  nav ul .link-active a {
    color: white !important;
  }
  nav ul .link-active a:after {
    width: 100%;
    background-color: red;
  }
  nav ul li {
    display: inline-block;
    padding: 0px 10px;
  }
  nav ul a {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
  }
  nav ul a:before {
    content: "";
    position: absolute;
    top: -5px;
    width: 100%;
    background-color: transparent;
    height: 1.5px;
  }
  nav ul a:after {
    content: "";
    position: absolute;
    top: 115%;
    left: 0px;
    width: 0%;
    background-color: red;
    height: 1.5px;
  }
  nav ul a:hover {
    text-decoration: none;
    color: black !important;
  }
  nav ul a:hover:before {
    width: 0%;
    background-color: red;
  }
  nav ul a:hover:after {
    width: 100%;
    background-color: red;
  }
  
  .nav-overlay {
    background-color: white;
    border-bottom: 1px solid rgba(6, 10, 15, 0.1);
    padding: 25px 0px;
  }
  .nav-overlay .logo img {
    width: 80%;
  }
  .nav-overlay ul {
    margin-top: 8px;
  }
  .nav-overlay ul li a {
    color: black !important;
  }


  @media screen and (max-width: 1199px) {

    nav {
      padding: 0px 0px;
    }
  
  }
  @media screen and (max-width: 700px) {
    .wrapper {
      width: 50%;
    }
  
    nav {
      padding: 0px 0px;
    }
    nav:hover {
      padding: 15px 0px;
    }
  }
  @media screen and (max-width: 430px) {
  
    nav {
      padding: 0px 0px;
    }
  }